@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Film Rental Store</h1>
    <p class="lead">A dedicated physical store, aimed towards providing a medium to manage customers, movies and rentals with minimal steps</p>
    <p><a href="/Customers" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="text-center p-3">
            <img src="~/Images/customer.png" alt="Customer" class="img-thumbnail">
        </div>
        <h2>Manage Customers</h2>
        <p>
            Film Rental Store provides a customer-centric service to manage customers.
        </p>
    </div>
    <div class="col-md-4">
        <div class="text-center p-3">
            <img src="~/Images/film.png" alt="Film" class="img-thumbnail">
        </div>
            <h2>Manage Films</h2>
            <p>Add, update and delete movies with specified genre and automatically update available stocks.</p>
        </div>
        <div class="col-md-4">
            <div class="text-center p-3">
                <img src="~/Images/movie.png" alt="Rentals" class="img-thumbnail">
            </div>
                <h2>Manage Rentals</h2>
                <p>You can easily rent and return any films with minimal steps.</p>
            </div>
    </div>