<appSettings>
	<add key="FacebookAppId" value="378283617052196" />
	<add key="FacebookAppSecret" value="888269a045377a138c52acb39b828f78" />
	<add key="MailServer" value="mail-server"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>