<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-VidlyWithAuth-20210712090741.mdf;Initial Catalog=aspnet-VidlyWithAuth-20210712090741;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>